@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary-color: #16a3b7;
    --black-color: #000;
    --white-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-rendering: optimizeSpeed;
    font-family: 'Raleway', sans-serif;
    overflow-y: overlay;
}

::selection {
    background-color: #f6ab49;
    color: #fff;
}

/* Scrollbar CSS */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

.container .pretty {
    display: block;
}

.profile:hover .profile-children {
    display: block;
}

.title-product {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.cart-item {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.active {
    background-color: #f6ab49;
    color: #fff;
}

.bg-rgba-1 {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Css pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 40px;
}

.pagination .number a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #ccc;
    color: #ccc;
}

.pagination .selected a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 14px;
    color: #3e5569;
    border: 1px solid #3e5569;
}

.previous-button a,
.next-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 14px;
    color: #3e5569;
    border: 1px solid #3e5569;
}
